.env.development
.env.production
.env.release
__pycache__/
.git/
.venv
.read.txt
openapi.json
start.sh
api.html

alembic/sso/versions/*
!alembic/sso/versions/.gitkeep

alembic/cmp/versions/*
!alembic/cmp/versions/.gitkeep

alembic/hub/versions/*
!alembic/hub/versions/.gitkeep

